.App {
  width: 100vw;
  height:100%;
  background-image: url(image/Frost.jpg);
  /* background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%); */
  overflow-x: hidden;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 30%;
  border: .5px solid black;
  border-radius: 10px;
  padding: 10px;
  height: 1em;
}

.search-button{
  border: .5px solid black;
  border-radius: 10px;
  margin-left: 5px;
  height: 2.5em;
}

.search_main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}


